sudo: false

os:
  - linux

rvm:
  - 2.1.3

before_install:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

before_script:
  - nvm install 8.9.3
  - nvm use 8.9.3
  - npm install -g yarn
  - yarn install
  - yarn run vscode:prepublish

script:
  - bundle exec danger
  - yarn lint
  - yarn test --silent